.header-bg{
    background-color: rgb(18, 72, 210);
}
.header-bg .nav-link{
    color: white;
}
.header-bg .nav-link:hover{
    color: rgb(162, 162, 162);
}
.header-bg .navbar-nav .nav-link.active{
    color: rgb(186, 186, 186);
}
.header-bg .navbar-brand{
    color: white;
}
.cartitem-count{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    color: black;
    top: 0px;
    right: 0px;
    border-radius: 10px;
}
.header-bg .dropdown-menu[data-bs-popper] {
    right:0px;
    left: auto;
}